[submodule "graal"]
	path = graal
	url = https://github.com/oracle/graal.git

[submodule "mx"]
	path = mx
	url = https://github.com/graalvm/mx.git

[submodule "shelajev"]
	path = shelajev-workshop
	url = https://github.com/shelajev/workshop.git
