[submodule "graal"]
	path = graal
	url = https://github.com/oracle/graal.git

[submodlue "graal-spring-native"]
	path = graal-spring-native
	http = https://github.com/shivamgarg7276/graal-spring-native.git

[submodlue "graalvm-demos"]
	path = demos
	url = https://github.com/graalvm/graalvm-demos.git

[submodule "mx"]
	path = mx
	url = https://github.com/graalvm/mx.git

[submodule "supercharge-examples"]
	path = supercharge-examples
	url = https://github.com/PacktPublishing/Supercharge-Your-Applications-with-GraalVM.git

[submodule "workshop"]
	path = shelajev-workshop
	url = https://github.com/shelajev/workshop.git
